.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 7px;
}

.advantages__list {
  padding: 0;
}

.advantages__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 20px;
  position: relative;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @basic_green;
}

.advantages__description {
  font-family: @font2;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  margin: 13px 0;
  margin-left: 80px;
  position: relative;
}

.advantages__description--leaf::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  left: -40px;
  top: 0;
  background-image: url(../img/icon_leaf.svg);
  background-repeat: no-repeat;
  z-index: 5;
}

.advantages__description--tub::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  left: -40px;
  top: 0;
  background-image: url(../img/icon_tub.svg);
  background-repeat: no-repeat;
  z-index: 5;
}

.advantages__description--eat::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  left: -40px;
  top: 0;
  background-image: url(../img/icon_eat.svg);
  background-repeat: no-repeat;
  z-index: 5;
}

.advantages__description--alarm::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  left: -40px;
  top: 0;
  background-image: url(../img/icon_alarm.svg);
  background-repeat: no-repeat;
  z-index: 5;
}

.advantages__description--leaf::after {
  display: none;
}

.advantages__description--tub::after {
  display: none;
}

.advantages__description--eat::after {
  display: none;
}

.advantages__description--alarm::after {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 15px;
    padding-bottom: 183px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 240px;
    margin: 0;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .advantages__item {
    position: relative;
  }

  .advantages__item:nth-child(1) {
    padding-bottom: 245px;
  }

  .advantages__item:nth-child(3) {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 104px;
  }
}

.advantages__item--bigger::before {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -111px;
}

.advantages__description--leaf-2::before {
  left: 27px;
  top: -85px;
}

.advantages__description--tub-2::before {
  left: 27px;
  top: -85px;
}

.advantages__description--eat-2::before {
  left: 27px;
  top: -85px;
}

.advantages__description--alarm-2::before {
  left: 27px;
  top: -85px;
}

.advantages__description--leaf::after {
  display: block;
  content: "";
  position: absolute;
  width: 112px;
  height: 280px;
  left: 128px;
  top: -110px;
  background-image: url(../img/1.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.advantages__description--tub::after {
  display: block;
  content: "";
  position: absolute;
  width: 112px;
  height: 280px;
  left: 128px;
  top: -110px;
  background-image: url(../img/2.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.advantages__description--eat::after {
  display: block;
  content: "";
  position: absolute;
  width: 112px;
  height: 280px;
  left: 128px;
  top: -110px;
  background-image: url(../img/3.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.advantages__description--alarm::after {
  display: block;
  content: "";
  position: absolute;
  width: 112px;
  height: 280px;
  left: 128px;
  top: -110px;
  background-image: url(../img/4.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__title {
    margin-top: 41px;
    padding-bottom: 183px;
  }

  .advantages__item {
    padding-bottom: 242px;
  }

  .advantages__item:nth-child(1) {
    padding-bottom: 126px;
  }

  .advantages__item:nth-child(3) {
    border-bottom: none;
  }
}
