.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.advantages__item {
  list-style-type: none;
}
.advantages__description {
  font-family: @font2;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}
