.block-cat {
  position: relative;
  left: 44%;
  transform: translateX(-50%);
  padding-bottom: 84px;
}

@media (min-width: @tablet-width) {
  .block-cat {
    display: flex;
  }

  .block-cat__pic--fat {
    position: absolute;
    left: 58px;
    top: -172px;
    width: 48%;
    overflow: hidden;
  }

  .block-cat__pic--skinny {
    position: absolute;
    right: 14px;
    top: -172px;
    width: 43%;
    overflow: hidden;
    direction: rtl;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .block-cat__pic--fat {
    position: absolute;
    left: 73px;
    top: -172px;
    width: 365px;
    overflow: hidden;
  }

  .block-cat__pic--skinny {
    position: absolute;
    right: 75px;
    top: -172px;
    width: 271px;
    overflow: hidden;
    direction: rtl;
    z-index: -1;
  }
}
