@media (min-width: @tablet-width) {
  .block-cat {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .block-cat {
    background-color: @basic_grey;
    position: absolute;
    right: 250px;
    top: 100px;
  }
}
