
@media (min-width: @tablet-width) {
  .block-can {
    position: absolute;
    top: 250px;
    left: 29px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .block-can {
    top: 10px;
    left: calc(50% + 114px);
    z-index: 100;
    transform: translateX(-50%);
  }
}
