.btn--extra-good {
  display: inline-block;
}

@media (min-width: @tablet-width) {

  .btn--extra-good {
    padding: 10px 285px;
    margin: 0 38px;
  }
}

@media (min-width: @desktop-width) {
  
  .btn--extra-good {
    padding: 10px 91px;
    margin: 0;
  }
}
