.btn--show-all {
  color: @special_dark-grey;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_grey;
  padding: 0px;
}

@media (min-width: @tablet-width) {

  .btn--show-all {
    padding: 20px 79px;
  }
}

@media (min-width: @desktop-width) {

  .btn--show-all {
    padding: 20px 39px;
  }
}
