.btn {
  color: @white;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_green;
  padding: 10px 109px;
}

@media (min-width: @tablet-width) {

  .btn {
    padding: 10px 93px;
  }
}

@media (min-width: @desktop-width) {

  .btn {
    padding: 10px 53px;
  }
}
