.btn {
  color: @white;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_green;
  padding: 10px 109px;
}

@media (min-width: @tablet-width) {

  .btn {
    padding: 10px 93px;
  }

  .btn--extra-good {
    padding: 6px 220px;
    margin: 27px 68px;
  }
}

@media (min-width: @desktop-width) {

  .btn {
    padding: 10px 53px;
  }
}
