.button-toggle {
  border: none;
  padding: 0;
}

.button-toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 20px;
  width: 24px;
  height: 1.5px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  cursor: pointer;
}

.button-toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 1.5px;
    background-color: @black;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.button-toggle--none {
  display: none;
}

@media (min-width: @tablet-width) {
  .button-toggle {
    display: none;
  }
}
