.contacts__appeal {
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
  margin: 0;
}

.contacts {
  display: flex;
  position: absolute;
  top: -86px;
}


@media (min-width: @tablet-width) {
  .contacts__appeal {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    margin-right: 300px;
  }

  .contacts__text {
    font-size: 16px;
    width: 159px;
  }

}

@media (min-width: @desktop-width) {
  .contacts {
    justify-content: left;
    top: 100px;
    background-color: @white;
    width: 570px;
    height: 201px;

  }

  .contacts__appeal {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    margin-right: 0;
    padding: 66px 87px 59px 76px;
  }

  .contacts__text {
    padding: 65px 89px;
  }
}
