.example-cost__description {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 27px;
  padding-top: 20px;
  text-transform: uppercase;
}

.example-cost__description-price {
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  margin-left: 3px;
}

.example-cost {
  margin: 0 auto;
  display: flex;
  padding-left: 46px;
}

@media (min-width: @tablet-width) {
  .example-cost__description {
    font-size: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-bottom: 9px;
  }

  .example-cost__description-price {
    font-size: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  .example-cost {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-left: 151px;
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .example-cost__description-price {
    margin-left: 63px;
  }

  .example-cost {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 58px;
  }
}
