.example {
  background-color:#EAEAEA;
}
.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
  .example {
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {

}
