.example-cost__description {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 42px;
  padding-top: 13px;
}

.example-cost {
  display: block;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .example-cost__description {
    font-size: 20px;
    float: right;
  }
}

@media (min-width: @desktop-width) {
  .example-cost__description {
    float: left;
  }
}
