.example {
  background-color: #eaeaea;
  width: 100%;
  height: 705px;
  margin-top: 33px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 27px;
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
  .example {
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    padding: 0;
    position: absolute;
    top: -145px;
  }

  .example__wrapper {
    position: relative;
  }

  .example {
    background-color: @basic_grey;
    height: 462px;
  }
}
