.extra-good__wrapper-extra{
  display: flex;
  justify-content: space-between;
}

.extra-good__title {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 16px;
  color: @special_dark-grey-2;
}

.extra-good__pack,
.extra-good__price {
  font-family: @font2;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}

@media (min-width: @tablet-width) {

  .extra-good__title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-good__pack,
  .extra-good__price {
  font-size: 16px;
  line-height: 20px;
  }

  .extra-good__price {
    margin-left: 52px;
  }

  .extra-good__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .extra-good__wrapper-extra{
    display: flex;
    justify-content: right;
  }
}

@media (min-width: @desktop-width) {
  .extra-good {
    display: flex;
    justify-content: space-between;
    width: 826px;
  }
}

