.extra-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  border-top: 1px solid #ebebeb;
  padding-top: 25px;
  border-bottom: 1px solid @special_grey;
  padding-bottom: 36px;
}

.extra-goods__list {
  padding: 0;
}

.extra-goods__item {
  list-style-type: none;
}

@media (min-width: @tablet-width) {

  .extra-goods__title {
    font-size: 36px;
    line-height: 36px;
    border-top: none;
    padding-top: 52px;
    padding-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {

  .extra-goods__list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .extra-goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .extra-goods__title {
    padding-top: 60px;
    padding-bottom: 81px;
  }

}
