.extra-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extra-goods__list {
  padding: 0;
}

.extra-goods__item {
  list-style-type: none;
}

@media (min-width: @tablet-width) {

  .extra-goods__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {

  .extra-goods__list {
    display: flex;
    flex-direction: column;
  }

  .extra-goods__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
