.extra-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-top: 24px;
  position: relative; // нужен для того чтоб перекрыть полосы
  display: inline-block;
  padding-right: 22px;
  padding-bottom: 35px;
  margin-top: 0;
  background: #ffffff; // белый цвет, нужен для того чтоб перекрыть линии
}

.extra-goods__title::after {
    content: "";
    position: absolute;
    top: 46%;
    width: 100vw; // чтоб тянулось на всю ширину экрана
    height: 2px;
    margin-top: 2px;
    background: @basic_green;
    z-index: -1;
}

.extra-goods__title:after {
  left: 20px;
}

.extra-goods__title::before {
  right: 0;
}


.extra-goods__list {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ebebeb;
}

.extra-goods__item {
  list-style-type: none;
}

@media (min-width: @tablet-width) {

  .extra-goods__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 47px;
    padding-bottom: 78px;
    padding-left: 38px;
    padding-right: 36px;
  }

  .extra-goods__title::after,
  .extra-goods__title::before {
    content: "";
    position: absolute;
    top: 40%;
    width: 100vw; // чтоб тянулось на всю ширину экрана
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
  }

  .extra-goods__title:after {
  left: 20px;
  }

  .extra-goods__title::before {
  right: 0;
  }


  .extra-goods__item {
    border: 1px solid @special_grey;
    border-bottom: none;
  }

  .extra-goods__list li:last-child {
    border-bottom: 1px solid @special_grey;
  }

  .extra-goods__list {
    border-top: none;
  }
}

@media (min-width: @desktop-width) {

  .extra-goods__list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .extra-goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .extra-goods__item {
    border-left: none;
    border-right: none;
  }

  .extra-goods__title {
    padding-top: 53px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 36px;
    margin-left: -40px;
  }

  .extra-goods__title::after,
  .extra-goods__title::before {
    top: 43%;
  }
}
