.field-checkbox {
  text-transform: uppercase;

  @media (max-width: @tablet-width - 1) {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
  }
}

.field-checkbox__item {
  line-height: 18px;
  list-style-type: none;
  padding-bottom: 25px;
}

.field-checkbox__list {
  padding: 0;
  padding-top: 19px;
}

.field-checkbox-option {
  display: block;
  position: relative;
  padding-left: 46px;
}

.field-checkbox__input {
  position: absolute;
  appearance: none;
}

.field-checkbox__box {
  position: absolute;
  left: 0;
  top: -6px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-mobile.svg");
}

.field-checkbox__input:checked + .field-checkbox__box {
  background-image: url("../img/checkbox-active-mobile.svg");
}

.field-checkbox__box:hover {
  border: 1px solid #bababa;
  background-image: none;
}

@media (min-width: @tablet-width) {
  .field-checkbox__item {
    font-size: 20px;
    line-height: 30px;
    width: 40%;
    margin-right: 34px;
    padding-bottom: 40px;
  }

  .field-checkbox__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  .field-checkbox__box {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../img/checkbox-tablet.svg");
  }

  .field-checkbox__input:checked + .field-checkbox__box {
    background-image: url("../img/checkbox-active-tablet.svg");
  }

  .field-checkbox-option {
    padding-left: 59px;
  }
}

@media (min-width: @desktop-width) {
  .field-checkbox__list {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 29px;
  }

  .field-checkbox__item {
    width: 20%;
    margin-right: 0;
    padding-bottom: 40px;
  }
}
