.field-text {
  margin-bottom: 13px;
  display: flex;
  position: relative;
}

.field-text__name {
  line-height: 18px;
  color: @special_dark-grey;
  flex-shrink: 0;
  text-transform: uppercase;
  padding-top: 13px;
}

.field-text__input {
  font-family: @font1;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  color: @special_dark-grey;
  width: 94%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  border: 1px solid #e7e7e7;
  margin-left: 15px;
}

.field-text__input:hover {
  border: 1px solid @special_grey;
}

.field-text__input:focus {
  border: 1px solid @special_dark-grey;
}

.field-text__icon--email,
.field-text__icon--phone {
  position: absolute;
  top: 15px;
  right: 14px;
}


.field-text__input--textarea {
  padding-bottom: 120px;
  width: 100%;
  margin-left: 0;
  padding-top: 10px;
}

.field-text__input--e-mail,
.field-text__input--phone {
  width: 96%;
  padding-top: 14px;
  margin-left: 11px;
}

.field-text__input-wrap {
  width: 100%;
}

@media (min-width: @tablet-width) {

  .field-text {
    margin-bottom: 20px;
  }

  .field-text__name {
    font-size: 20px;
    line-height: 30px;
    padding-top: 8px;
  }
  .field-text__input {
    font-size: 20px;
    line-height: 30px;
    width: 97%;
    padding-top: 8px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 50px;
    margin-left: 18px;
  }

  .field-text__input--textarea {
    padding-bottom: 134px;
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .field-text__input {
    width: 96%;
    padding-top: 7px;
    padding-bottom: 14px;
    padding-left: 20px;
    margin-left: 18px;
  }

  .field-text__icon--email,
  .field-text__icon--phone {
  position: absolute;
  top: 15px;
  right: 18px;
  }

  .field-text__input--textarea {
    padding-bottom: 132px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 47px;
  }
}

