.intro {
  background-color:rgba(104, 183, 56, 0.85);
  color: @white;
}
.intro__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.intro__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.intro__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
