.logo-mini img {
  display: block;
  margin: auto;
  padding-top: 34px;
  border-bottom: 1px solid #9d9d9d;
  padding-bottom: 32px;
}

.logo-mini img:hover {
  opacity: 0.8;
}

.logo-mini img:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .logo-mini img {

    border-bottom: none;
  }
}
