.page-footer {
  background-color: @basic_grey;
  margin-top: 18px;
  position: relative;
}

.page-footer__wrapper--index {
  background-color: @white;
}

.page-footer__logo {
  fill: #666;
}

.page-footer__logo:hover {
  fill: @basic_green;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .page-footer {
    margin-top: 65px;
  }

  .page-footer__iframe {
    height: 400px;
  }

}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 0;
  }

  .page-footer__wrapper--nonebackcolor {
    display: none;
  }

  .page-footer__wrapper-extra {
    margin-left: 0;
    margin-top: 62px;
  }
}
