.product__link {
  text-decoration: none;
}
.product__title {
  font-weight: 400;
  line-height: 20px;
  color: @special_dark-grey-2;
}
.product__options {
  font-family: @font2;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  margin-bottom: 20px;
}
.btn {
  color: @white;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_green;
  padding: 10px 109px;
}
.product__text {
  font-family: @font2;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}
