.programms {
  margin-top: 201px;
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .programms {
    margin-top: 210px;
  }
}

@media (min-width: @desktop-width) {

  .programms__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .programms {
    margin-top: 99px;
  }
}
