.range {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 33px;
  margin-left: 44px;
}

.range__controls {
  margin: 0 17px;
}

.range__name {
  line-height: 24px;
  margin: 0;
}

.range__controls .scale {
  height: 14px;
  background-color: @white;
  width: 84px;
  border-radius: 6px;
  position: relative;
}

.range__controls .bar {
  position: absolute;
  width: 35px;
  height: 6px;
  background: #00ca74;
  margin-top: 4px;
  margin-left: 6px;
  border-radius: 6px;
}

@media (min-width: @tablet-width) {

  .range {
    background-color: transparent;
    padding-bottom: 36px;
    margin-left: 0;
  }

  .range__name {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }

  .range__controls .scale {
    height: 6px;
    background-color: #dcdcdc;
    width: 428px;
  }

  .range__controls .bar {
    display: none;
  }

  .range__controls .toggle {
    position: absolute;
    bottom: 34px;
    left: 337px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 13px solid @white;
    background-color: @basic_green;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px @special_grey;
    cursor: pointer;
    box-sizing: content-box;
  }

  .range__controls {
    margin: 0 22px;
  }
}

@media (min-width: @desktop-width) {

  .range__controls .toggle {
    bottom: -2px;
    left: 374px;
  }

  .range {
    padding-bottom: 0;
    margin-bottom: -34px;
  }
}
