.story__description {
  font-family: @font2;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 23px;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .story__description {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
    padding-top: 64px;
    padding-bottom: 53px;
  }

  .story {
    display: block;
    position: relative;
    margin-bottom: 251px;
  }
}

@media (min-width: @desktop-width) {
  .story__description {
    width: 436px;
    padding-top: 43px;
    padding-bottom: 68px;
  }

  .story {
    margin-bottom: 0;
  }
}
