.story__description {
  font-family: @font2;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 40px;
}

@media (min-width: @mobile-width) {
  .example__story {
    display: flex;
    flex-wrap: wrap;
  }

  .story__description {
    width: 279px;
  }
}

@media (min-width: @tablet-width) {
  .story__description {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
  }

  .story {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .example__story {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .story__description {
    width: 436px;
  }
}
