.textarea {
  font-family: @font1;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .textarea {
    font-size: 20px;
    line-height: 30px;
    width: 631px;
  }
}

@media (min-width: @desktop-width) {
  .textarea {
    width: 100%;
  }
}
