// Начните писать стили здесь
@import "main-nav.less";
@import "intro.less";
@import "programms.less";
@import "advantages.less";
@import "example.less";
@import "contacts.less";
@import "copyright.less";
@import "social.less";
@import "container.less";
// Oswald-regular
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// Oswald-medium
  @font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
  font-family: "Oswald", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
